<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>鱼香茄子</string>
		<key>price</key>
		<string>价格:3.00元</string>
		<key>pic</key>
		<string>食品1.jpg</string>
		<key>soldAmount</key>
		<string>已售:242</string>
		<key>location</key>
		<string>中南海134号</string>
	</dict>
	<dict>
		<key>name</key>
		<string>韩国料理</string>
		<key>price</key>
		<string>价格:24.9元</string>
		<key>pic</key>
		<string>食品2.jpg</string>
		<key>soldAmount</key>
		<string>已售:48</string>
		<key>location</key>
		<string>首尔市北京路2号(麦当劳斜对面)</string>
	</dict>
	<dict>
		<key>name</key>
		<string>烤肉拼盘</string>
		<key>price</key>
		<string>价格:43.8元</string>
		<key>pic</key>
		<string>食品3.jpg</string>
		<key>soldAmount</key>
		<string>已售:134</string>
		<key>location</key>
		<string>人民广场</string>
	</dict>
	<dict>
		<key>name</key>
		<string>川味肉吨</string>
		<key>price</key>
		<string>价格:12元</string>
		<key>pic</key>
		<string>食品4.jpg</string>
		<key>soldAmount</key>
		<string>已售:68</string>
		<key>location</key>
		<string>成都汶川县希望路3号(恒隆广场店)</string>
	</dict>
	<dict>
		<key>name</key>
		<string>鲜牛肉</string>
		<key>price</key>
		<string>价格:34元/kilo</string>
		<key>pic</key>
		<string>食品5.jpg</string>
		<key>soldAmount</key>
		<string>已售:368</string>
		<key>location</key>
		<string>内蒙古蒙牛养殖场3号棚</string>
	</dict>
	<dict>
		<key>name</key>
		<string>手撕牛肉</string>
		<key>price</key>
		<string>价格:38元/kilo</string>
		<key>pic</key>
		<string>食品6.jpg</string>
		<key>soldAmount</key>
		<string>已售:392</string>
		<key>location</key>
		<string>日本神户县养牛场售牛部</string>
	</dict>
</array>
</plist>
