<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>范冰冰</string>
		<key>icon</key>
		<string>1.jpg</string>
		<key>say</key>
		<string>你已成功添加好友</string>
	</dict>
	<dict>
		<key>name</key>
		<string>习大大</string>
		<key>icon</key>
		<string>2.jpg</string>
		<key>say</key>
		<string>什么时候吃饭</string>
	</dict>
	<dict>
		<key>name</key>
		<string>王思聪</string>
		<key>icon</key>
		<string>3.jpg</string>
		<key>say</key>
		<string>下楼没啊</string>
	</dict>
	<dict>
		<key>name</key>
		<string>李晨</string>
		<key>icon</key>
		<string>4.jpg</string>
		<key>say</key>
		<string>什么时候有空一起吃个饭?</string>
	</dict>
	<dict>
		<key>name</key>
		<string>林丹</string>
		<key>icon</key>
		<string>5.jpg</string>
		<key>say</key>
		<string>出来喝一杯?</string>
	</dict>
	<dict>
		<key>name</key>
		<string>洪兴</string>
		<key>icon</key>
		<string>6.jpg</string>
		<key>say</key>
		<string>老大啥时候出来?</string>
	</dict>
	<dict>
		<key>name</key>
		<string>那英</string>
		<key>icon</key>
		<string>7.jpg</string>
		<key>say</key>
		<string>嘿 最近怎么样了</string>
	</dict>
	<dict>
		<key>name</key>
		<string>汪峰</string>
		<key>icon</key>
		<string>8.jpg</string>
		<key>say</key>
		<string>最近想要换耳机吗</string>
	</dict>
	<dict>
		<key>name</key>
		<string>周杰伦</string>
		<key>icon</key>
		<string>9.jpg</string>
		<key>say</key>
		<string>最近想搞个演唱会</string>
	</dict>
	<dict>
		<key>name</key>
		<string>庾澄庆</string>
		<key>icon</key>
		<string>10.jpg</string>
		<key>say</key>
		<string>这里有新歌声的现场券 带家人一起看吧</string>
	</dict>
	<dict>
		<key>name</key>
		<string>王宝强</string>
		<key>icon</key>
		<string>11.jpg</string>
		<key>say</key>
		<string>宝宝不开心了</string>
	</dict>
	<dict>
		<key>name</key>
		<string>淘宝抢购秒杀群</string>
		<key>icon</key>
		<string>12.jpg</string>
		<key>say</key>
		<string>点击链接-&gt;马上进入</string>
	</dict>
	<dict>
		<key>name</key>
		<string>红包群</string>
		<key>icon</key>
		<string>13.jpg</string>
		<key>say</key>
		<string>点击领取</string>
	</dict>
</array>
</plist>
