<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PicCarousel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8BD417D91D4E5E4F00F1AC26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BD417F21D4E5E4F00F1AC26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BD417FD1D4E5E4F00F1AC26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
